[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tenacity = "==5.1.4"
psutil = "==5.7.0"
click = "==7.1.2"
watchdog = "==0.10.3"
waitress = "==1.4.4"
requests = "==2.24.0"
rsa = "==4.7"
pyasn1 = "==0.4.8"
boto3 = "==1.17.14"
safety = "==1.9.0"
black = "==19.10b0"
mypy = "==0.782"
flake8 = "==3.8.3"
flake8-docstrings = "==1.5.0"
pytest = "==5.4.3"
pytest-cov = "==2.10.0"
pytest-xdist = "==1.32.0"
docker = "==4.2.2"
docker-compose = "==1.26.2"
cryptography = "==3.3.2"
typing-extensions = "==3.7.4.3"
sagemaker = "==2.30.0"
smspark = {editable = true, path = "."}
importlib-metadata = "==3.7.3"
pytest-parallel = "==0.1.0"

[requires]
python_version = "3.7"
